.hop-dropdown-menu
{
	position: relative;
	padding: 4px 1px;
	border: solid 1px #ccc;
	background: #fff;
	line-height: 1;
	box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 2px -2px;
	font: normal normal normal 14px/1 Arial;
}

.hop-dropdown-menu .hop-dropdown-menu-offset
{
	display: none;
	position: absolute;
	top: -5px;
	left: -2px;
	bottom: -5px;
	right: -2px;
}

.hop-dropdown-menu .hop-dropdown-menu-item
{
	position: relative;
}

.hop-dropdown-menu .hop-dropdown-menu-button
{
	display: block;
	position: relative;
	padding: 0 20px 0 28px;
	background-repeat: no-repeat;
	background-position: 5px center;
	white-space: nowrap;
	cursor: pointer;
	z-index: 2;
	line-height: 18px;
}

.hop-dropdown-menu .hop-dropdown-menu-button-inner
{
	padding: 4px 0 4px 0;
	background-repeat: no-repeat;
	background-position: right center;
}

.hop-dropdown-menu .hop-dropdown-menu-button,
.hop-dropdown-menu .hop-dropdown-menu-button:visited,
.hop-dropdown-menu .hop-dropdown-menu-button:hover
{
	color: #000;
	text-decoration: none;
}

.hop-dropdown-menu .hop-dropdown-menu-button.hop-dropdown-menu-highlighted,
.hop-dropdown-menu .hop-dropdown-menu-button.hop-dropdown-menu-highlighted:hover/*,
.hop-dropdown-menu .hop-dropdown-menu-button.hop-dropdown-menu-opened:hover*/
{
	background-color: #d7e4f3;
}

/*.hop-dropdown-menu .hop-dropdown-menu-button.hop-dropdown-menu-opened
{
	background-color: #eee;
}*/

.hop-dropdown-menu .hop-dropdown-menu-button.hop-dropdown-menu-parent
{
	padding-right: 0;
}

.hop-dropdown-menu .hop-dropdown-menu-button.hop-dropdown-menu-parent .hop-dropdown-menu-button-inner
{
	padding-right: 20px;
	background-image: url(../images/dropdownmenusub.png);
}

.hop-dropdown-menu .hop-dropdown-menu-button.hop-dropdown-menu-inactive
{
	color: #a0a0a0;
}

.hop-dropdown-menu .hop-dropdown-menu-button.hop-dropdown-menu-inactive:hover
{
	background-color: transparent;
	cursor: default;
}

.hop-dropdown-menu .hop-dropdown-menu-button.hop-dropdown-menu-checkable
{
	background-image: none !important;
}

.hop-dropdown-menu .hop-dropdown-menu-button.hop-dropdown-menu-checked
{
	background-image: url(../images/dropdownmenucheck.png) !important;
}

.hop-dropdown-menu .hop-dropdown-menu-button.hop-dropdown-menu-checked.hop-dropdown-menu-radio
{
	background-image: url(../images/dropdownmenuradio.png) !important;
}

.hop-dropdown-menu .hop-dropdown-menu-button.hop-dropdown-menu-loading
{
	cursor: progress;
}

.hop-dropdown-menu .hop-dropdown-menu-group
{
	padding: 5px 20px 5px 28px;
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 5px center;
	white-space: nowrap;
}

.hop-dropdown-menu .hop-dropdown-menu-separator div
{
	margin: 4px 0;
	height: 1px;
	background-color: #ddd;
}