.hop-tabs
{
}

.hop-tabs .hop-tabs-head
{
	border-bottom: solid 1px #ccc;
	min-height: 0;
}

.hop-tabs .hop-tabs-head:before,
.hop-tabs .hop-tabs-head:after
{
	border-collapse: collapse;
	content: "";
	display: table;
}

.hop-tabs .hop-tabs-head:after
{
	clear: both;
}

.hop-tabs .hop-tabs-tab-button
{
	float: left;
}

.hop-tabs .hop-tabs-tab-button span
{
	float: left;
	padding: 6px 8px;
	white-space: nowrap;
	position: relative;
}

.hop-tabs .hop-tabs-tab-button,
.hop-tabs .hop-tabs-tab-button:visited,
.hop-tabs .hop-tabs-tab-button:hover
{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.hop-tabs .hop-tabs-tab-button:hover
{
	background-color: #d7e4f3;
}

.hop-tabs .hop-tabs-tab-button.hop-tabs-active
{
	background-color: #eee;
}

.hop-tabs .hop-tabs-tab-button.hop-tabs-active:hover span
{
	background-color: #eee;
}

.hop-tabs .hop-tabs-body
{
	overflow: auto;
}

.hop-tabs .hop-tabs-body:before,
.hop-tabs .hop-tabs-body:after
{
	border-collapse: collapse;
	content: "";
	display: table;
}

.hop-tabs .hop-tabs-body:after
{
	clear: both;
}