$buttonBorderRadius: 2px;
$buttonDisabledOpacity: 0.5;
$buttonBoxShadow: 0 1px 0 rgba(0, 0, 0, 0.08);
$buttonCursor: pointer;

$buttonDefaultColor: #000;
$buttonDefaultBorderColor: #ccc;
$splitButtonDefaultBorderColorHover: #bdbdbd;
$buttonDefaultBorderColorHover: #adadad;
$buttonDefaultBorderColorPressed: #8c8c8c;
$buttonDefaultBackgroundColor: #fff;
$splitButtonDefaultBackgroundColorHover: #f2f2f2;
$buttonDefaultBackgroundColorHover: #e6e6e6;
$buttonDefaultBackgroundColorPressed: #d4d4d4;

$buttonPrimaryColor: #fff;
$buttonPrimaryBorderColor: #2e6da4;
$splitButtonPrimaryBorderColorHover: #275d8c;
$buttonPrimaryBorderColorHover: #204d74;
$buttonPrimaryBorderColorPressed: #122b40;
$buttonPrimaryBackgroundColor: #337ab7;
$splitButtonPrimaryBackgroundColorHover: #2e6ca3;
$buttonPrimaryBackgroundColorHover: #286090;
$buttonPrimaryBackgroundColorPressed: #204d74;

$buttonSuccessColor: #fff;
$buttonSuccessBorderColor: #4cae4c;
$splitButtonSuccessBorderColorHover: #429942;
$buttonSuccessBorderColorHover: #398439;
$buttonSuccessBorderColorPressed: #255625;
$buttonSuccessBackgroundColor: #5cb85c;
$splitButtonSuccessBackgroundColorHover: #49ab49;
$buttonSuccessBackgroundColorHover: #449d44;
$buttonSuccessBackgroundColorPressed: #398439;

$buttonDangerColor: #fff;
$buttonDangerBorderColor: #d43f3a;
$splitButtonDangerBorderColorHover: #bf2f2a;
$buttonDangerBorderColorHover: #ac2925;
$buttonDangerBorderColorPressed: #761c19;
$buttonDangerBackgroundColor: #d9534f;
$splitButtonDangerBackgroundColorHover: #d1332e;
$buttonDangerBackgroundColorHover: #c9302c;
$buttonDangerBackgroundColorPressed: #ac2925;

$buttonSmallFontSize: 13px;
$buttonSmallLineHeight: 18px;
$buttonLargeFontSize: 16px;
$buttonLargeLineHeight: 22px;

@mixin buttonFocus
{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
