@import "buttonsettings";

.hopjs-button
{
	display: inline-block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	border: solid 1px transparent;
	border-radius: $buttonBorderRadius;
	vertical-align: middle;

	&.hopjs-button-enabled
	{
		cursor: $buttonCursor;

		&:focus
		{
			outline: solid 1px transparent;
		}
	}

	&.hopjs-button-disabled
	{
		opacity: $buttonDisabledOpacity;
	}

	> span
	{
		display: block;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		position: relative;
	}

	> span > span
	{
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	&.hopjs-button-arrow
	{
		> span:after
		{
			content: "";
			display: block;
			height: 16px;
			width: 16px;
			position: absolute;
			background: url(../images/menusub.png) center center no-repeat;
		}

		&.hopjs-button-arrow-left
		{
			> span
			{
				padding-left: 17px;
			}

			> span:after
			{
				top: 50%;
				margin-top: -8px;
				left: 1px;
			}
		}

		&.hopjs-button-arrow-right
		{
			> span
			{
				padding-right: 17px;
			}

			> span:after
			{
				top: 50%;
				margin-top: -8px;
				right: 0;
			}
		}

		&.hopjs-button-arrow-top
		{
			> span
			{
				padding-top: 14px;
			}

			> span:after
			{
				left: 50%;
				margin-left: -8px;
				top: -1px;
			}
		}

		&.hopjs-button-arrow-bottom
		{
			> span
			{
				padding-bottom: 14px;
			}

			> span:after
			{
				left: 50%;
				margin-left: -8px;
				bottom: -1px;
			}
		}
	}

	&.hopjs-button-style-default
	{
		background-color: $buttonDefaultBackgroundColor;
		border-color: $buttonDefaultBorderColor;
		box-shadow: $buttonBoxShadow;
		color: $buttonDefaultColor;

		&.hopjs-button-enabled:hover,
		&.hopjs-button-enabled:focus
		{
			background-color: $buttonDefaultBackgroundColorHover;
			border-color: $buttonDefaultBorderColorHover;
		}

		&.hopjs-button-pressed,
		&.hopjs-button-toggled
		{
			box-shadow: none;

			&,
			&:hover,
			&:focus
			{
				background-color: $buttonDefaultBackgroundColorPressed;
				border-color: $buttonDefaultBorderColorPressed;
			}
		}
	}

	&.hopjs-button-style-primary
	{
		background-color: $buttonPrimaryBackgroundColor;
		border-color: $buttonPrimaryBorderColor;
		box-shadow: $buttonBoxShadow;
		color: $buttonPrimaryColor;

		&.hopjs-button-enabled:hover,
		&.hopjs-button-enabled:focus
		{
			background-color: $buttonPrimaryBackgroundColorHover;
			border-color: $buttonPrimaryBorderColorHover;
		}

		&.hopjs-button-pressed,
		&.hopjs-button-toggled
		{
			box-shadow: none;

			&,
			&:hover,
			&:focus
			{
				background-color: $buttonPrimaryBackgroundColorPressed;
				border-color: $buttonPrimaryBorderColorPressed;
			}
		}
	}

	&.hopjs-button-style-success
	{
		background-color: $buttonSuccessBackgroundColor;
		border-color: $buttonSuccessBorderColor;
		box-shadow: $buttonBoxShadow;
		color: $buttonSuccessColor;

		&.hopjs-button-enabled:hover,
		&.hopjs-button-enabled:focus
		{
			background-color: $buttonSuccessBackgroundColorHover;
			border-color: $buttonSuccessBorderColorHover;
		}

		&.hopjs-button-pressed,
		&.hopjs-button-toggled
		{
			box-shadow: none;

			&,
			&:hover,
			&:focus
			{
				background-color: $buttonSuccessBackgroundColorPressed;
				border-color: $buttonSuccessBorderColorPressed;
			}
		}
	}

	&.hopjs-button-style-danger
	{
		background-color: $buttonDangerBackgroundColor;
		border-color: $buttonDangerBorderColor;
		box-shadow: $buttonBoxShadow;
		color: $buttonDangerColor;

		&.hopjs-button-enabled:hover,
		&.hopjs-button-enabled:focus
		{
			background-color: $buttonDangerBackgroundColorHover;
			border-color: $buttonDangerBorderColorHover;
		}

		&.hopjs-button-pressed,
		&.hopjs-button-toggled
		{
			box-shadow: none;
			
			&,
			&:hover,
			&:focus
			{
				background-color: $buttonDangerBackgroundColorPressed;
				border-color: $buttonDangerBorderColorPressed;
			}
		}
	}

	&.hopjs-button-style-primary,
	&.hopjs-button-style-success,
	&.hopjs-button-style-danger
	{
		> span:after
		{
			background-image: url(../images/menusub_white.png);
		}
	}
}