@import "settings";

.hopjs-dialog-buttons
{
	padding: 12px;
	border-top: solid 1px #ccc;
}

.hopjs-dialog-buttons.hopjs-dialog-buttons-center
{
	text-align: center;
}

.hopjs-dialog-buttons.hopjs-dialog-buttons-right
{
	text-align: right;
}

.hopjs-dialog-button
{
	margin-left: 0;
}

.hopjs-dialog-button + .hopjs-dialog-button
{
	margin-left: 8px;
}