@import "settings";

.hopjs-menu
{
	min-height: 0;
	font: $themeFont;
}

.hopjs-menu:before,
.hopjs-menu:after
{
	border-collapse: collapse;
	content: "";
	display: table;
}

.hopjs-menu:after
{
	clear: both;
}

.hopjs-menu-extra-menu-button
{
	padding: 4px 8px;
	float: right;
	width: 12px;
	line-height: $themeLineHeight;
	background: url(../images/menu.png) center center no-repeat;
	cursor: pointer;
}

.hopjs-menu-extra-menu-button.hopjs-menu-highlighted,
.hopjs-menu-extra-menu-button.hopjs-menu-highlighted:hover
{
	background-color: #d7e4f3;
}

.hopjs-menu-extra-menu-button.hopjs-menu-opened,
.hopjs-menu-extra-menu-button.hopjs-menu-opened:hover
{
	background-color: #eee;
}

.hopjs-menu-item
{
	display: block;
	float: left;
	padding: 4px 8px;
	background-repeat: no-repeat;
	background-position: 8px center;
	white-space: nowrap;
	cursor: pointer;
	line-height: $themeLineHeight;
}

.hopjs-menu-item.hopjs-menu-icon
{
	padding-left: 28px;
}

.hopjs-menu-item,
.hopjs-menu-item:visited,
.hopjs-menu-item:hover
{
	color: #000;
	text-decoration: none;
}

.hopjs-menu-item.hopjs-menu-highlighted,
.hopjs-menu-item.hopjs-menu-highlighted:hover
{
	background-color: #d7e4f3;
}

.hopjs-menu-item.hopjs-menu-opened,
.hopjs-menu-item.hopjs-menu-opened:hover
{
	background-color: #eee;
}

.hopjs-menu-item.hopjs-menu-parent
{
	padding-right: 20px;
	position: relative;
}

.hopjs-menu-item.hopjs-menu-parent:after
{
	content: "";
	display: block;
	height: 8px;
	width: 8px;
	position: absolute;
	right: 0;
	top: 50%;
	margin: -4px 5px 0 0;
	background: url(../images/menusub.png) center center no-repeat;
}

.hopjs-menu-item.hopjs-menu-inactive
{
	color: #a0a0a0;
}

.hopjs-menu-item.hopjs-menu-inactive:hover
{
	background-color: transparent;
	cursor: default;
}

.hopjs-menu-item.hopjs-menu-loading
{
	cursor: progress;
}