@import "buttonsettings";

.hopjs-splitbutton
{
	display: inline-block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 2px;
	vertical-align: middle;

	&.hopjs-button-enabled
	{
		cursor: $buttonCursor;

		&:focus
		{
			outline: solid 1px transparent;
		}
	}

	&.hopjs-button-disabled
	{
		opacity: $buttonDisabledOpacity;
	}

	> span
	{
		display: block;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		position: relative;
	}

	> span > span
	{
		display: block;
		position: relative;
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		overflow: hidden;
		border: solid 1px transparent;
		border-radius: $buttonBorderRadius;
		z-index: 0;
	}

	> span > div
	{
		position: absolute;
		box-sizing: border-box;
		border: solid 1px transparent;
		border-radius: $buttonBorderRadius;
		z-index: 0;
	}

	> span > div:after
	{
		content: "";
		display: block;
		top: 50%;
		left: 50%;
		height: 4px;
		width: 8px;
		margin-top: -2px;
		margin-left: -4px;
		position: absolute;
		background: url(../images/menusub.png) center center no-repeat;
	}

	> span > span:hover,
	> span > div:hover
	{
		z-index: 1;
	}

	&.hopjs-button-pressed,
	&.hopjs-button-toggled
	{
		> span > span
		{
			z-index: 2;
		}
	}

	&.hopjs-button-arrow-pressed,
	&.hopjs-button-arrow-toggled
	{
		> span > div
		{
			z-index: 2;
		}
	}

	&.hopjs-button-arrow-left
	{
		> span
		{
			padding-left: 16px;
		}

		> span > span
		{
			border-radius: 0 2px 2px 0;
		}

		> span > div
		{
			top: 0;
			left: 0;
			height: 100%;
			width: 17px;
			border-radius: 2px 0 0 2px;
		}
	}

	&.hopjs-button-arrow-right
	{
		> span
		{
			padding-right: 16px;
		}

		> span > span
		{
			border-radius: 2px 0 0 2px;
		}

		> span > div
		{
			top: 0;
			right: 0;
			height: 100%;
			width: 17px;
			border-radius: 0 2px 2px 0;
		}
	}

	&.hopjs-button-arrow-top
	{
		> span
		{
			padding-top: 15px;
		}

		> span > span
		{
			border-radius: 0 0 2px 2px;
		}

		> span > div
		{
			top: 0;
			left: 0;
			height: 16px;
			width: 100%;
			border-radius: 2px 2px 0 0;
		}
	}

	&.hopjs-button-arrow-bottom
	{
		> span
		{
			padding-bottom: 15px;
		}

		> span > span
		{
			border-radius: 2px 2px 0 0;
		}

		> span > div
		{
			bottom: 0;
			left: 0;
			height: 16px;
			width: 100%;
			border-radius: 0 0 2px 2px;
		}
	}

	&.hopjs-button-style-default
	{
		> span > span,
		> span > div
		{
			background-color: $buttonDefaultBackgroundColor;
			border-color: $buttonDefaultBorderColor;
			box-shadow: $buttonBoxShadow;
			color: $buttonDefaultColor;
		}

		&.hopjs-button-enabled:hover,
		&.hopjs-button-enabled:focus,
		{
			> span > span,
			> span > div
			{
				background-color: $splitButtonDefaultBackgroundColorHover;
				border-color: $splitButtonDefaultBorderColorHover;
			}
		}

		&.hopjs-button-enabled
		{
			> span > span:hover,
			> span > div:hover
			{
				background-color: $buttonDefaultBackgroundColorHover;
				border-color: $buttonDefaultBorderColorHover;
			}
		}

		&.hopjs-button-pressed,
		&.hopjs-button-toggled
		{
			> span > span,
			> span > span:hover,
			&:hover > span > span,
			&:focus > span > span
			{
				background-color: $buttonDefaultBackgroundColorPressed;
				border-color: $buttonDefaultBorderColorPressed;
				box-shadow: none;
			}
		}

		&.hopjs-button-arrow-pressed,
		&.hopjs-button-arrow-toggled
		{
			> span > div,
			> span > div:hover,
			&:hover > span > div,
			&:focus > span > div
			{
				background-color: $buttonDefaultBackgroundColorPressed;
				border-color: $buttonDefaultBorderColorPressed;
				box-shadow: none;
			}
		}
	}

	&.hopjs-button-style-primary
	{
		> span > span,
		> span > div
		{
			background-color: $buttonPrimaryBackgroundColor;
			border-color: $buttonPrimaryBorderColor;
			box-shadow: $buttonBoxShadow;
			color: $buttonPrimaryColor;
		}

		&.hopjs-button-enabled:hover,
		&.hopjs-button-enabled:focus,
		{
			> span > span,
			> span > div
			{
				background-color: $splitButtonPrimaryBackgroundColorHover;
				border-color: $splitButtonPrimaryBorderColorHover;
			}
		}

		&.hopjs-button-enabled
		{
			> span > span:hover,
			> span > div:hover
			{
				background-color: $buttonPrimaryBackgroundColorHover;
				border-color: $buttonPrimaryBorderColorHover;
			}
		}

		&.hopjs-button-pressed,
		&.hopjs-button-toggled
		{
			> span > span,
			> span > span:hover,
			&:hover > span > span,
			&:focus > span > span
			{
				background-color: $buttonPrimaryBackgroundColorPressed;
				border-color: $buttonPrimaryBorderColorPressed;
				box-shadow: none;
			}
		}

		&.hopjs-button-arrow-pressed,
		&.hopjs-button-arrow-toggled
		{
			> span > div,
			> span > div:hover,
			&:hover > span > div,
			&:focus > span > div
			{
				background-color: $buttonPrimaryBackgroundColorPressed;
				border-color: $buttonPrimaryBorderColorPressed;
				box-shadow: none;
			}
		}
	}

	&.hopjs-button-style-success
	{
		> span > span,
		> span > div
		{
			background-color: $buttonSuccessBackgroundColor;
			border-color: $buttonSuccessBorderColor;
			box-shadow: $buttonBoxShadow;
			color: $buttonSuccessColor;
		}

		&.hopjs-button-enabled:hover,
		&.hopjs-button-enabled:focus,
		{
			> span > span,
			> span > div
			{
				background-color: $splitButtonSuccessBackgroundColorHover;
				border-color: $splitButtonSuccessBorderColorHover;
			}
		}

		&.hopjs-button-enabled
		{
			> span > span:hover,
			> span > div:hover
			{
				background-color: $buttonSuccessBackgroundColorHover;
				border-color: $buttonSuccessBorderColorHover;
			}
		}

		&.hopjs-button-pressed,
		&.hopjs-button-toggled
		{
			> span > span,
			> span > span:hover,
			&:hover > span > span,
			&:focus > span > span
			{
				background-color: $buttonSuccessBackgroundColorPressed;
				border-color: $buttonSuccessBorderColorPressed;
				box-shadow: none;
			}
		}

		&.hopjs-button-arrow-pressed,
		&.hopjs-button-arrow-toggled
		{
			> span > div,
			> span > div:hover,
			&:hover > span > div,
			&:focus > span > div
			{
				background-color: $buttonSuccessBackgroundColorPressed;
				border-color: $buttonSuccessBorderColorPressed;
				box-shadow: none;
			}
		}
	}

	&.hopjs-button-style-danger
	{
		> span > span,
		> span > div
		{
			background-color: $buttonDangerBackgroundColor;
			border-color: $buttonDangerBorderColor;
			box-shadow: $buttonBoxShadow;
			color: $buttonDangerColor;
		}

		&.hopjs-button-enabled:hover,
		&.hopjs-button-enabled:focus,
		{
			> span > span,
			> span > div
			{
				background-color: $splitButtonDangerBackgroundColorHover;
				border-color: $splitButtonDangerBorderColorHover;
			}
		}

		&.hopjs-button-enabled
		{
			> span > span:hover,
			> span > div:hover
			{
				background-color: $buttonDangerBackgroundColorHover;
				border-color: $buttonDangerBorderColorHover;
			}
		}

		&.hopjs-button-pressed,
		&.hopjs-button-toggled
		{
			> span > span,
			> span > span:hover,
			&:hover > span > span,
			&:focus > span > span
			{
				background-color: $buttonDangerBackgroundColorPressed;
				border-color: $buttonDangerBorderColorPressed;
				box-shadow: none;
			}
		}

		&.hopjs-button-arrow-pressed,
		&.hopjs-button-arrow-toggled
		{
			> span > div,
			> span > div:hover,
			&:hover > span > div,
			&:focus > span > div
			{
				background-color: $buttonDangerBackgroundColorPressed;
				border-color: $buttonDangerBorderColorPressed;
				box-shadow: none;
			}
		}
	}

	&.hopjs-button-style-primary,
	&.hopjs-button-style-success,
	&.hopjs-button-style-danger
	{
		> span > div:after
		{
			background-image: url(../images/menusub_white.png);
		}
	}
}