@import "settings";

.hopjs-tabs
{
}

.hopjs-tabs-head
{
	border-bottom: solid 1px $themeBorderColor;
	min-height: 0;
}

.hopjs-tabs-head:before,
.hopjs-tabs-head:after
{
	border-collapse: collapse;
	content: "";
	display: table;
}

.hopjs-tabs-head:after
{
	clear: both;
}

.hopjs-tabs-item-head
{
	float: left;
	color: $themeColor;
	cursor: pointer;
}

.hopjs-tabs-item-head > div
{
	padding: 8px;
	white-space: nowrap;
	background-repeat: no-repeat;
	background-position: 8px center;
	position: relative;
}

.hopjs-tabs-item-head:hover > div
{
	background-color: #d7e4f3;
}

.hopjs-tabs-item-head.hopjs-tabs-active > div,
.hopjs-tabs-item-head.hopjs-tabs-active:hover > div
{
	background-color: #eee;
}

.hopjs-tabs-item-head.hopjs-tabs-disabled > div,
.hopjs-tabs-item-head.hopjs-tabs-disabled:hover > div
{
	background-color: transparent;
	color: #888;
	cursor: default;
}

.hopjs-tabs-item-head.hopjs-tabs-icon > div
{
	padding-left: 8px;
	width: 16px;
}

.hopjs-tabs-item-head.hopjs-tabs-caption.hopjs-tabs-icon > div
{
	padding-left: 28px;
	width: auto;
}

.hopjs-tabs-item-head .hopjs-tabs-close
{
	display: none;
	position: absolute;
	top: 7px;
	right: 4px;
	height: 16px;
	width: 16px;
	background: url(../images/tabsclose.png) center center no-repeat;
	cursor: pointer;
}

.hopjs-tabs-item-head .hopjs-tabs-close:hover
{
	height: 14px;
	width: 14px;
	border: solid 1px $themeBorderColor;
}

.hopjs-tabs-item-head.hopjs-tabs-closable > div
{
	padding-right: 24px;
}

.hopjs-tabs-item-head.hopjs-tabs-closable .hopjs-tabs-close
{
	display: block;
}

.hopjs-tabs-body
{
	overflow: auto;
}

.hopjs-tabs-body:before,
.hopjs-tabs-body:after
{
	border-collapse: collapse;
	content: "";
	display: table;
}

.hopjs-tabs-body:after
{
	clear: both;
}

.hopjs-tabs-item-body
{
	display: none;
}